<nav class="navbar navbar-expand-lg bg-body-tertiary nav-height" data-bs-theme="dark">
  <div class="container-md">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
    <a class="navbar-brand" href="">Electronic</a>
    </div>
    <div class="col-xs-4 col-sm-8 col-md-8 col-lg-8 col-xl-8 d-flex justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <form class="d-flex" role="search">
            <input class="form-control me-2 input-search-lg" type="search" placeholder="Producto.." aria-label="Search">
            <button class="btn btn btn-success" type="submit">Buscar</button>
          </form>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex justify-content-end">
        <div class="col-xs-12">
          <a href="" class="user-cart" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
            <i class="fa-solid fa-user ms-5 pt-1" href="#">
          </i>
          </a>
        </div>
        <div class="col-xs-12">
          <a href="" class="user-cart" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight">
            <i class="fa-solid fa-cart-shopping ms-5 pt-1" href="#"></i>        
          <span class="position-absolute top-0 mt-2 badge rounded-pill text-bg-secondary" style="font-size: 13px;">4</span>
          </a>
        </div>
    </div>
  </div>
</nav>
