<div class="container-lg">
  <div class="row pt-4">
    <div class="col-sm-4 col-md-2 pt-3" *ngFor="let producto of productos.slice(0, cantidadProductos)">
      <div class="card pt-3">
        <img src="{{producto.image}}" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title text-center">{{producto.nombre}}</h5>
          <p class="card-text">{{producto.descripcion}}</p>
          <div class="d-flex justify-content-center">
          <a href="detalles-producto/{{producto.id}}" class="btn btn-primary">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>